* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #1a1a1a;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    text-align: center;
    width: 80%;
}

.hdr {
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #00ffcc;
    text-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc;
}

.grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.itm {
    background-color: #333;
    width: 18%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.img-box {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border: 2px solid #555;
    background-color: #1a1a1a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 10s infinite; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.img-box img:nth-child(1) {
    animation-delay: 0s;
}
.img-box img:nth-child(2) {
    animation-delay: 2s;
}
.img-box img:nth-child(3) {
    animation-delay: 4s;
}
.img-box img:nth-child(4) {
    animation-delay: 6s;
}
.img-box img:nth-child(5) {
    animation-delay: 8s;
}


@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.img-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.8);
}

.img-box:hover img {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
}

p {
    margin-top: 10px;
    font-size: 16px;
    color: #e0e0e0;
    text-shadow: 0 0 2px #999;
    text-transform: uppercase;
}

#btn-home {
    margin-top: 20px;
    background: linear-gradient(90deg, #4295c3, #bf71db, #ff7fb8, #d8782e, #d11a14);
    color: white;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 30px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 4px 20px rgba(0, 255, 204, 0.5);
    transition: all 0.3s ease;
}

#btn-home:hover {
    background: linear-gradient(90deg, #4295c3, #bf71db, #ff7fb8, #d8782e, #d11a14);
    transform: scale(1.1);  
    box-shadow: 0 6px 30px rgba(0, 255, 204, 0.8);  
}

a {
    text-decoration: none; /* Removes the underline from links */
}

a:hover {
    text-decoration: none; /* Ensures underline is also removed on hover */
}